<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{title.todo.list}">Todo List</title>
    <link rel="stylesheet" href="../../../resources/app/css/styles.css" th:href="@{/resources/app/css/styles.css}">
</head>

<body>
    <div id="header" th:replace="~{common/layout/header :: header}"></div>
    <h1>Todo List</h1>
    <div id="todoForm">
        <div th:if="${resultMessages} != null" class="alert alert-success"
            th:class="|alert alert-${resultMessages.type}|">
            <ul>
                <li th:each="message : ${resultMessages}"
                        th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} :
                        ${message.text}"></li>
            </ul>
        </div>
        <form action="/todo/create" th:action="@{/todo/create}" method="post">
            <label th:text="#{label.td.todo.todoTitle}">タイトル:</label>
            <input type="text" th:field="${todoForm.todoTitle}" />
            <label th:text="#{label.td.todo.startDate}">開始日:</label>
            <input type="text" th:field="${todoForm.startDate}" />
            <label th:text="#{label.td.todo.limitDate}">期限:</label>
            <input type="text" th:field="${todoForm.limitDate}" />
            <span id="todoTitle.errors" th:errors="${todoForm.todoTitle}" class="text-error">size must be between 1 and
                30</span>
            <span id="startDate.errors" th:errors="${todoForm.startDate}" class="text-error"></span>
            <span id="limitDate.errors" th:errors="${todoForm.limitDate}" class="text-error"></span>
            <button>Create Todo</button>
        </form>
    </div>
    <hr />
    <div id="todoList">
        <ul th:remove="all-but-first">
            <li th:each="todo : ${todos}">
                <span th:class="${todo.finished} ? 'strike'" th:text="${todo.todoTitle}">Send a e-mail</span>
                <span th:text="${#temporals.format(todo.startDate, 'uuuu/MM/dd')}">2024/07/01</span>
                <span>~</span>
                <span th:text="${#temporals.format(todo.limitDate, 'uuuu/MM/dd')}">2024/07/31</span>
                <form th:if="${!todo.finished}" action="/todo/finish" th:action="@{/todo/finish}" method="post"
                    class="inline">
                    <input type="hidden" name="todoId" th:value="${todo.todoId}" />
                    <button>Finish</button>
                </form>
                <form action="/todo/delete" th:action="@{/todo/delete}" method="post" class="inline">
                    <input type="hidden" name="todoId" th:value="${todo.todoId}" />
                    <button>Delete</button>
                </form>
            </li>
            <li>
                <span>Have a lunch</span>
                <form action="/todo/finish" method="post" class="inline">
                    <button>Finish</button>
                </form>
                <form action="/todo/delete" method="post" class="inline">
                    <button>Delete</button>
                </form>
            </li>
            <li>
                <span class="strike">Read a book</span>
                <form action="/todo/delete" method="post" class="inline">
                    <button>Delete</button>
                </form>
            </li>
        </ul>
    </div>
</body>

</html>